.footer-top {
    display: flex;
    border: 1px solid #30312D;
}

.page-foot-part .footer-left {
    width: 80%;
}

.page-foot-part .footer-right {
    width: 20%;
}

.page-foot-part .footer-left-top {
    background-color: #262723;
    padding: 70px 0px 70px 80px;
}

.page-foot-part .footer-left-top .logo {
    font-size: 30px;
    width: 150px;
    height: auto;
    color: #FFFFFF;
    margin-bottom: 44.85px;
}

.footer-left-top {
    display: flex;
    justify-content: space-between;
}

.footer-left-top-contianer {
    width: 18%;
}

.footer-details-container {
    width: 30%;
}

.footer-app-short {
    font: normal normal 11px/20px 'Montserrat-Arabic', sans-serif;
    color: #7A7C83;
    margin-bottom: 22.42px;
    width: 75%;
    
}

.footer-left-top-contianer button {
    border: none;
    background: none;
    cursor: pointer;
    width: 162px;
    height: 47px;
    /* UI Properties */
    background: var(--wh-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    /* box-shadow: 10px 10px 20px #221F2033; */
    opacity: 1;
    font-size: 11px;
    color: #000;
    font-family: 'Montserrat-Arabic', sans-serif;
}

.footer-left-top-contianer .head {
    color: #FFFFFF;
    margin-bottom: 30px;
    font: normal normal 12px/30px 'Montserrat-Arabic', sans-serif;
}

.footer-contact-container {
    padding-top: 5px;
}

.footer-contact-container .content {
    font-size: 11px;
    margin-bottom: 25px;
}

.footer-contact-container .content .head {
    font: normal normal 11px/30px 'Montserrat-Arabic', sans-serif;
    margin-bottom: 5px;
    color: #7A7C83;
    
}

.footer-contact-container .content .value {
    color: #FFFFFF;
    font: normal normal 300 12px/20px 'Montserrat-Arabic', sans-serif;
}

.footer-left-top-contianer .link {
    
    color: #FFFFFF;
    font: normal normal 300 12px/20px 'Montserrat-Arabic', sans-serif;
}

.footer-left-bottom {
    
    padding: 20px 40px 20px 80px;
    background: #30312D;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    font: normal normal 11px 'Montserrat-Arabic', sans-serif;
}

.back-to-top-btn {
    display: flex;
    align-items: center;
    letter-spacing: 3px;
    cursor: pointer;
}

.back-to-top-btn i {
    margin-right: 10px;
    font-size: 14px;
}

.back-to-top-btn svg {
    margin-right: 10px;
    width: 17px;
    height: 18px;
}

.footer-right {
    background: #30312D;
    padding: 70px 0px 20px 30px;
    color: #FFFFFF;
}

.footer-right .head {
    font: normal normal 12px/30px 'Montserrat-Arabic', sans-serif;
    margin-bottom: 55px;
    font-family: 'Montserrat-Arabic', sans-serif;
}

.footer-right .social-handle {
    width: 35px;
    height: 35px;
    border: 1px solid var(--wh-ffffff);
    background: #CC9B5500 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF;
    opacity: 1;
    /* margin-right: 7px; */
    font-size: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.footer-right .social-handle .fa {
    transition: .5s;
}

.footer-right .social-handle:hover>.fa {
    -webkit-transform: rotateX(360deg);
    -ms-transform: rotateX(360deg);
    transform: rotateX(360deg);
}

.social-handle-container {
    width: 161px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.news-letter-input-label {
    font: normal normal 11px 'Montserrat-Arabic', sans-serif;
    margin-bottom: 20px;
    font-family: 'Montserrat-Arabic', sans-serif;
}

.news-letter-input input[type="text"] {
    /* width: 66%; */
    width: 161px;
    height: 40px;
    background: #E9E9E90D;
    border: none;
    outline: none;
    font-size: 11px;
    padding-left: 10px;
}

.footer-second-row {
    display: none;
}

.footer-third-row {
    display: none !important;
}

.footer-fourth-row {
    display: none;
}

@media (min-width:1600px) {
    .page-foot-part .footer-left-top {
        padding: 70px 0px 70px 160px;
    }
    .footer-left-bottom {
        /* padding: 32px 520px 32px 160px; */
        padding: 32px 160px 32px 160px;
    }
    .page-foot-part .footer-right {
        padding-right: 100px;
    }
    .page-foot-part .footer-left-top .logo {
        margin-bottom: 44.85px;
    }
    .footer-app-short {
        line-height: 20px;
       
        margin-bottom: 22.42px;
        width: 75%;
        font: normal normal 17px/30px 'Montserrat-Arabic', sans-serif;
        letter-spacing: 0px;
        color: #7A7C83;
        opacity: 1;
    }
    .footer-left-top-contianer button {
        width: 162px;
        height: 47px;
    }
    .footer-left-top-contianer .head {
        margin-bottom: 30px;
        font: normal normal 18px/30px 'Montserrat-Arabic', sans-serif;
    }
    .footer-contact-container .content .head {
        margin-bottom: 0px;
        letter-spacing: 4.8px;
        font: normal normal 12px/30px 'Montserrat-Arabic', sans-serif;
    }
    .footer-contact-container .content .value {
        font: normal normal 300 17px/30px  'Montserrat-Arabic', sans-serif;
        width: 163px;
    }
    .footer-left-top-contianer .link {
        font: normal normal 300 16px/25px 'Montserrat-Arabic', sans-serif;
           letter-spacing: 0px;
          
           opacity: 1;
    }
    .footer-left-bottom {
        font: normal normal 15px/14px 'Montserrat-Arabic', sans-serif;
    }
    .footer-copyright {
        font-size: 15px;
    }
    .footer-right .head {
        font: normal normal 18px/30px 'Montserrat-Arabic', sans-serif;
        margin-bottom: 55px;
        letter-spacing: 0px;
        text-transform: uppercase;
        opacity: 1;
    }
    .social-handle-container {
        width: 228px;
    }
    .footer-right .social-handle {
        height: 48px;
        width: 48px;
      
          
           margin-right: 7px;
           font: normal normal normal 17px/18px 'Montserrat-Arabic', sans-serif;
           display: flex;
           justify-content: center;
           align-items: center;
           cursor: pointer;
        /* margin-right: 12px; */
    }
    .news-letter-input-label {
        font: normal normal 15px/20px 'Montserrat-Arabic', sans-serif;
        letter-spacing: 0px;
        opacity: 1;
        margin-bottom: 25px;
    }
    .news-letter-input input[type="text"] {
        /* width: 66%; */
        width: 228px;
        height: 54px;
        outline: none;
        font-size: 11px;
        padding-left: 10px;
    }
    .page-foot-part .footer-left {
        width: 75%;
    }
    .page-foot-part .footer-right {
        width: 25%;
    }
    .back-to-top-btn svg {
        width: 20px;
        height: 21px;
        margin-right: 20px;
    }
}

@media (max-width: 1020px) {
    .footer-top .footer-right {
        padding-left: 15px;
    }
}

@media (max-width: 900px) {
    .footer-second-row {
        display: flex;
    }
    .footer-left .footer-left-top .footer-contact-container {
        display: none;
    }
    .footer-left .footer-left-top .footer-nozol-container {
        display: none;
    }
    .footer-left .footer-left-top .footer-support-container {
        display: none;
    }
    .footer-fourth-row {
        display: flex;
    }
    .footer-left .footer-left-bottom {
        display: none;
    }
    .footer-left .footer-left-top .footer-details-container {
        width: 100%;
    }
    .page-foot-part .footer-left .footer-left-top {
        padding: 40px 0px 40px 40px;
        height: 100%;
    }
    .footer-left-top-contianer {
        width: 25%;
    }
    .page-foot-part .footer-left-top {
        background-color: #262723;
        padding: 40px 40px 10px 40px;
    }
    .footer-left-top-contianer button {
        width: 110px;
        height: 30px;
        font-size: 10px;
    }
    .footer-app-short {
        font-size: 10px;
        margin-bottom: 30px;
    }
    .footer-top {
        border: none;
        border-top: 1px solid #30312D;
    }
    .footer-right {
        padding: 40px 0px 20px 40px;
    }
    .footer-right .head {
        font-size: 11px;
        margin-bottom: 20px;
    }
    .social-handle-container {
        margin-bottom: 40px;
        width: 145px;
    }
    .footer-right .social-handle {
        width: 30px;
        height: 30px;
        font-size: 14px;
    }
    .page-foot-part .footer-left {
        width: 65%;
    }
    .page-foot-part .footer-right {
        width: 35%;
    }
    .footer-left-top-contianer .head {
        font-size: 11px;
    }
    .footer-contact-container .content {
        font-size: 10px;
    }
    .footer-contact-container .content .head {
        font-size: 10px;
    }
    .footer-left-top-contianer .head {
        font-size: 10px;
    }
    .footer-left-top-contianer .link {
        font-size: 10px;
    }
    .news-letter-input input[type="text"] {
        width: 145px;
    }
}

@media (max-width: 650px) {
    .footer-top .footer-right {
        padding: 40px 0px 20px 25px !important;
    }
}

@media (max-width: 540px) {
    .footer-top .footer-right {
        padding: 40px 0px 20px 15px !important;
    }
}

@media (max-width: 500px) {
    .page-foot-part .footer-left {
        width: 100% !important;
    }
    .page-foot-part .footer-left-top .logo svg {
        width: 170px !important;
    }
    .footer-app-short {
        width: 100%;
    }
    .footer-third-row {
        width: 100% !important;
    }
    .footer-left .footer-left-top .footer-details-container {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
    }
    .page-foot-part .footer-left-top .logo {
        width: auto;
    }
    .page-foot-part .footer-left .footer-left-top {
        padding: 40px 40px 40px 40px !important;
    }
    .page-foot-part .footer-right {
        display: none;
    }
    .footer-second-row .footer-contact-container {
        display: none;
    }
    .footer-second-row .footer-left-top-contianer {
        width: fit-content;
        text-align: right;
    }
    .page-foot-part .footer-left-top {
        background-color: #262723;
        padding: 40px 30px 10px 30px;
    }
    .page-foot-part .footer-third-row {
        padding: 40px 40px 40px 40px !important;
        width: 100% !important;
        display: flex !important;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .social-handle-container {
        width: 200px;
    }
    .footer-right .social-handle {
        width: 40px !important;
        height: 40px !important;
        font-size: 18px !important;
    }
    .news-letter-input-label {
        text-align: right;
    }
    .news-letter-input {
        width: 100%;
    }
    .news-letter-input input[type="text"] {
        width: 100%;
        background: #262723;
    }
    .footer-left-bottom {
        flex-direction: column-reverse;
        align-items: center;
        padding: 20px 40px 20px 40px;
        background: #262723;
    }
    .back-to-top-btn {
        margin-top: 30px;
    }
}